.circle {
	width: 5rem;
	height: 5rem;
	right: -2rem;
	border-radius: 15rem;
	position: absolute;
	opacity: 0.4;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	&:hover {
		transition: 0.3s ease-in-out;
		opacity: 1;
		box-shadow: 0 0 10px #491866;
	}
}
.size {
	font-size: 3rem;
}
