#SK-NI {
	fill: rgb(155, 141, 182);
}
#SK-BL {
	fill: rgb(83, 55, 136);
}
#BA {
	fill: rgb(153, 10, 46);
}
#SK-TA {
	fill: rgb(132, 106, 182);
}
#SK-TC {
	fill: rgb(155, 141, 182);
}
#SK-ZI {
	fill: rgb(178, 164, 202);
}
#SK-BC {
	fill: rgb(187, 174, 211);
}
#SK-KI {
	fill: rgb(212, 201, 233);
}
#SK-PV {
	fill: rgb(224, 216, 236);
}
.SvgStyles {
		path,
		circle {
			&:hover {
				fill: rgb(0, 0, 0) !important;
				transition: 0.3s;
				cursor: pointer;
			}
		}
}
.legendPoint {
	width: 50px;
	height: 100px;
	background: #000;
	border-radius: 50%;
}
@keyframes newAnimCircle {
	from {
		r: 3%;
	}
	50% {
		r: 2%;
	}
	to {
		r: 3%;
	}
}

@keyframes newAnimPath {
	from {
		-webkit-filter: drop-shadow(0 0 0px black);
	}
	50% {
		-webkit-filter: drop-shadow(0 0 3px black);
	}
	to {
		-webkit-filter: drop-shadow(0 0 0px black);
	}
}
