#SK-NI {
	fill: rgb(155, 141, 182);
}
#SK-BL {
	fill: rgb(83, 55, 136);
}
#BA {
	fill: rgb(153, 10, 46);
}
#SK-TA {
	fill: rgb(132, 106, 182);
}
#SK-TC {
	fill: rgb(155, 141, 182);
}
#SK-ZI {
	fill: rgb(178, 164, 202);
}
#SK-BC {
	fill: rgb(187, 174, 211);
}
#SK-KI {
	fill: rgb(212, 201, 233);
}
#SK-PV {
	fill: rgb(224, 216, 236);
}
svg {
	path,
	circle {
		&:hover {
			fill: rgb(0, 0, 0) !important;
			transition: 0.3s;
			cursor: pointer;
		}
	}
}
.legendPoint {
	width: 50px;
	height: 100px;
	background: #000;
	border-radius: 50%;
}
@keyframes newAnimCircle {
	from {
		r: 3%;
	}
	50% {
		r: 2%;
	}
	to {
		r: 3%;
	}
}

@keyframes newAnimPath {
	from {
		stroke: rgb(150, 150, 150);
		stroke-width: 1px;
	}
	50% {
		stroke: rgb(28, 6, 68);
		stroke-width: 2px;
	}
	to {
		stroke: rgb(150, 150, 150);
		stroke-width: 1px;
	}
}
