body {
	min-width: 100vw;
	scroll-behavior: smooth;
	overflow-x: hidden !important;
}
#root {
	height: 100vh;
}
.slowMotion {
	transition: 0.5s ease;
}
.backdropHidden {
	opacity: 0.001 !important;
}
#root{
	min-width: 100vw;
	overflow-x: hidden !important;
}
::-webkit-scrollbar {
	width: 1px;
  }
::-webkit-scrollbar-track {
	background: #000000;
  }
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  *::selection{
	  background: #9b8db6;
  }